{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Practice Project {% endblock %}</title>
</head>
<body>
<header>
    <h1>Practice Project</h1>
    <nav>
        <a href="{% url 'my_index' %}">Home</a>
        <a href="{% url 'my_service' %}">Service</a>
        <a href="{% url 'my_about' %}">About Us</a>
        <a href="{% url 'my_team' %}">Team</a>
        <a href="{% url 'my_why' %}">Why</a>
    </nav>
</header>
<main>
    {% block content %}

        This is where the content of other pages will be displayed.
    {% endblock %}
</main>
<footer>
    <p>&copy; 2024 CodeWithMichael</p>
</footer>
</body>
</html>