<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact us</title>
</head>
<body>
<h2>This is our contacts page!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet earum itaque mollitia nobis qui repellat sed tempora tenetur ullam. Aliquam consectetur dolore eius incidunt, ipsam nam provident sit veritatis.</p>
</body>
</html>