<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>services</title>
</head>
<body>
<h2>This is the services page!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut eligendi nisi officiis repellendus voluptatibus. Aliquam deserunt dolore ea esse ex fuga impedit, ipsam nisi omnis quas ratione voluptate voluptatum!</p>
</body>
</html>